{% load static %}

<!DOCTYPE HTML>

<html>
	<head>
		<title>Kusaco | about us</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'kusaco/css/home.css' %}" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="{% static 'kusaco/img/logo.jpg' %}">KUSACO<span></span></a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="{% url 'home' %}">Home</a></li>
					<li><a href="{% url 'testimonials' %}">testimonials</a></li>
					<li><a href="{% url 'articles' %}">Articles</a></li>
					<li><a href="{% url 'gallery' %}">Gallery</a></li>
					<li><a href="{% url 'about' %}">About Us</a></li>
					<li><a href="{% url 'events' %}">News & Events</a></li>
					<li><a href="{% url 'registration' %}">Registration</a></li>


				</ul>
			</nav>

		<!-- One -->
			<section id="One" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>Something About Ourselves</p>
						<h2>About Us</h2>
					</header>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style2">
				<div class="inner">
					<div class="box">
						<div class="content">
							<header class="align-center">
								<p>Get to know us</p>
								<h2>KENYATTA UNIVERSITY STUDENTS  AIDS CONTROL ORGANIZATION (KUSACO).</h2>
							</header>
							 <h3>  </h3>

<h4> MOTTO.</h4>
<p> Encouraging positive behaviour change.</p>

<h4> IDENTITY STATEMENT. </h4>
<p> Strategic behaviour change.</p>

<h4> HISTORY. </h4>
<p>Was established in the year 1996 in Kenyatta University</p>
<p>The organization was formed mainly to address the problems of:<br> 1. Drug and substance abuse. <br>  2. Sexual reproductive health. <br> 3. HIV/AIDS and STIs within Kenyatta University community.
</p>

<h4> GOAL. </h4>
<p>To formulate programmes for the management of HIV/AIDS within the university, its neighbourhoods and the entire country as a whole.</p>

<h4> MISSION.</h4>
<p>To promote activities that lead to a relatively HIV/AIDS free environment while at the same time developing a healthy and productive human resource for the nation.</p>

<h4>VISION.</h4>
<p>To be a dynamic, competent and highly recognised organization not only within Kenyatta University but also countrywide in fighting against HIV/AIDS.

<h4>OBJECTIVES.</h4>
<p>a) To initiate and promote activities among the youth which are aimed at the control and prevention of HIV/AIDS. <br> b) To advocate for positive behaviour change among the youth by use of sustainable and workable multi-face strategies/approaches <br> c) To form forums to share and exchange ideas, information, skills, knowledge,experience and expertise among students, stakeholders and other parties with similar intrests <br> d) To initiate individual and institutional capacity building within and outside the university. <br> e) To create opportunities for interactions amongst the youth through HIV/AIDS exchange program. <br> f) To instill a sense of responsibility and productivity amongst the youth. <br> g) To initiate and encourage the formation of youth organizations at community and country level. <br> h) To initiate an effective policy targeted at fighting the stigma and discrimination in the fight against HIV/AIDS.</p> 

<h4>ACTIVITIES.</h4>
<p>a) Hold workshops and seminars on HIV/AIDS related issues. <br> b) Visit orpharns and the vulnerable children to offer them support and care. <br> c) Take part in community services e.g. clean ups and walks. <br> d) Organise games, entertainment and other fun activities geered towards positive behavioural change. <br> e) Organising the annual HIV/AIDS Testing Week in conjunction with AIDS Control Unit(ACU) and Kenyatta University Students Association(KUSA).<br> f) Promotion of talents through participation in the culture week, career weeek's activities. <br> g) Organizing outreaches on Sexual Reproductive Health(SRH) and HIV/AIDS related issues.<br> h) Peer education training. <br> g) Trainers of Trainees (TOT) Trainig.</p>
<h4>MEMBERSHIP.</h4>
<p>Membership is Open to all Kenyatta University Students who have in them the urge of making a difference and leaving a smile on a neighbours face.</p>
						</div>
					</div>
				</div>
			</section>


								<section id="three" class="wrapper style2">
				<div class="inner">
					<header class="align-center">
						<p class="special">Pictorials</p>
						<h2>Get the facts</h2>
					</header>
					<div class="gallery">
						<div>
							<div class="image fit">
								<a href="#"><img src="{% static 'kusaco/img/logo.jpg' %}" alt="" /></a>
							</div>
							<p>Kenyatta University Students Aids Control Organisation</p>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src="{% static 'kusaco/img/no.jpg' %}" alt="" /></a>
							</div>
							<p>Say No to Drugs</p>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src="{% static 'kusaco/img/evy.jpg' %}" alt="" /></a>
							</div>
							<p>Fact</p>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src="{% static 'kusaco/img/stat.jpg' %}" alt="" /></a>
							</div>
							<p>If They Love you, they wont walk away even after Knowing your status.</p>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src="{% static 'kusaco/img/get.jpg' %}" alt="" /></a>
							</div>
							<p> Get Tested</p>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src="{% static 'kusaco/img/btl.jpg' %}" alt="" /></a>
							</div>
							<p> Start The ART as soon as you find out you are infected.</p>
						</div>
					</div>
				</div>
			</section>


		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
				Contact us on: +254717614453 | +25419366819 | +254718046786<br>kusacofamily@gmail.com
				<div class="copyright">
					&copy; Developed by Mudaki Wilson <br> enlightguru@gmail.com<br>+254700868636
				</div>
			</footer>
		<!-- Scripts -->
			<script src="{% static 'kusaco/js/jquery.min.js' %}"></script>
			<script src="{% static 'kusaco/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'kusaco/js/skel.min.js' %}"></script>
			<script src="{% static 'kusaco/js/util.js' %}"></script>
			<script src="{% static 'kusaco/js/main.js' %}"></script>

	</body>
</html>